<!DOCTYPE html>
<html>
<head>
    <title>Edit Donor</title>
</head>
<body>

<h2>Edit Donor</h2>

<form method="post">
    {% csrf_token %}
    <input type="text" name="name" value="{{ donor.name }}"><br><br>
    <input type="text" name="blood_group" value="{{ donor.blood_group }}"><br><br>
    <input type="text" name="phone" value="{{ donor.phone }}"><br><br>
    <input type="text" name="location" value="{{ donor.location }}"><br><br>
    <button type="submit">Update Donor</button>
</form>

<a href="{% url 'home' %}">Back</a>

</body>
</html>
